body {
  background-image: url(../images/skyscraper.png)
}

#titleRow {
  margin-top: 75px;
}

#secondROw {
  margin-top: 50px;
}

.col-6 {
  height:450px;
}

#imgCol {
  background: url(../images/Picture1.png) no-repeat;
  background-size: contain;
}

#textCol {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3 {
  position: relative;
  color: turquoise;
  font-family: 'Fredericka the Great', cursive;
  font-weight: bolder;
  font-size: 90px;
  text-align: center;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 40px;
  color: black;
  font-weight: bold;
}

br {
  line-height: 150px;
}


